@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 50%;
}

.images .nav-container {
    background: purple;
    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    .logo {
        color: purple;
        font-weight: bold;
        margin-left: -250px;
    }
    ul {
        display: flex;
        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header,
.hero-design {
    display: none;
}

.hero {
    background: black;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;
    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
    color: #3a6cf4;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: "";
    position: absolute;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background: #FF64CB;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 2.8em;
    font-weight: 900;
}

.skills {
    background: lightgray;
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
        &.one {
            width: 50px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 60px;
        }
        img {
            width: 200px;
        }
    }
    .skill-title {
        font-weight: bold;
        left: 30px;
    }
    .btn1 {
        background-color: darkgoldenrod;
        height: 60px;
        width: 300px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 39px;
    }
    .btn2 {
        background-color: darkgoldenrod;
        height: 60px;
        width: 300px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn3 {
        background-color: darkgoldenrod;
        height: 60px;
        width: 300px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 79px;
    }
    .featured-desc {
        margin-bottom: 2em;
    }
}

.portfolio {
    background: #F7F7F7;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
    .featured,
    .portfolio {
        text-align: left;
    }
    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    .left,
    .portfolio-left {
        display: grid;
        place-content: center;
    }
    .right {
        margin-left: 2em;
        margin-top: 1em;
    }
    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        header {
            background: lightgray;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }
    .social-header {
        display: block;
        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            img {
                width: 20px;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        .content {
            background: cornflowerblue;
            padding: 6em 8em 6em 4em;
            text-align: left;
            h1 {
                font-size: 3em;
                line-height: 1.2em;
                color: rgb(26, 26, 112);
                display: inline-block;
                overflow: hidden;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }
    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 6em 20em 4em 20em;
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(262px, 798px);
        z-index: 5;
    }
    to {
        transform: translate(262px, 830px);
    }
}

.skills2 {
    background: #000016;
}

.skills2 .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}

.skills2 .content .col-left {
    position: relative;
    width: 46%;
}

.skills2 .content .col-left .content-title {
    margin-bottom: 20px;
}

.skills2 .content .col-right {
    position: relative;
    width: 46%;
}

.skills2 .content .col-right .bar {
    margin-bottom: 15px;
    padding: 10px;
}

.skills2 .content .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills2 .content .col-right .bar .info span {
    font-size: 18px;
    font-weight: 500;
}

.skills2 .content .col-right .bar .line {
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
}

.skills2 .content .col-right .bar .line:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills2 .content .col-right .bar .html:before {
    width: 95%;
    background: purple;
}

.skills2 .content .col-right .bar .css:before {
    width: 90%;
    background: palevioletred;
}

.skills2 .content .col-right .bar .javascript:before {
    width: 80%;
    background: #e3a324;
}

.skills2 .content .col-right .bar .C:before {
    width: 80%;
    background: orchid;
}

.skills2 .content .col-right .bar .java:before {
    width: 75%;
    background: #6d7eb8;
}

.skills2 .content .col-right .bar .Illustrator:before {
    width: 75%;
    background: green;
}

.skills2 .content .col-right .bar .photoshop:before {
    width: 75%;
    background: teal;
}

.skills2 .content .col-right .bar .Design:before {
    width: 75%;
    background: hotpink;
}

.skills2 .content {
    flex-direction: column;
}

.skills2 .content .column {
    position: relative;
    width: 100%;
}

.skills2 .content .col-right {
    margin-top: 40px;
}

.work {
    background: lightgray;
}

.youtub {
    background: skyblue;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work .content .card {
    width: 340px;
    margin: 15px;
}

.work .content .card .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work .content .card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}

.work .content .card .card-img img:hover {
    transform: scale(1.2);
}

//
.youtub .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.youtub .content .card {
    width: 340px;
    margin: 15px;
}

.youtub .content .card .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.youtub .content .card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}

.youtub .content .card .card-img img:hover {
    transform: scale(1.2);
}

.contact {
    background: lightblue;
}

.contact .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact .content .row .card {
    background: navajowhite;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px (1 1 1 / 15%);
    border-radius: 10px;
}

.contact .content .row .card .contact-icon {
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon {
    transform: translateY(-10px);
}

.contact .content .row .card .info {
    text-align: center;
}

.contact .content .row .card .info h3 {
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .content .row .card .info span {
    color: #666;
    font-weight: 500;
}

.contact-form {
    background: burlywood;
    //max-width: 800px;
    height: 500px;
    width: 700px;
    padding: 50px;
    border-radius: 100px;
    box-shadow: 0 50px 25px (1 1 1 / 15%);
}

.contact-form h3 {
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-box .send-btn {
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover {
    background: #235bf6;
}